@charset "UTF-8";
@media screen
{

	/*
	===========================================================
	
	Kash+/PatiPati/Web Clap用デザイン no.5 （公開日：2011年4月4日）
	坂取 http://az-store.nrym.org/
	
	===========================================================
	*/

 html
	{
	margin: 0;
	padding: 0;
	background: #ffffff;
	}
 body
	{
	margin: 5em auto 2em;
	padding: 0;
	font-size: 12px;
	line-height: 1.6;
	color: #000000;
	background: #ffffff;
	_text-align: center; /* IE6対策 */
	}
 a /* アンカー */
	{
	text-decoration: underline;
	}
		 a:link
			{
			color: #2b51db;
			}
		 a:visited
			{
			color: #a75aa6;
			}
		 a:hover
		,a:focus
		,a:active
			{
			color: #ff2f56;
			}
 img
	{
	margin: 1px;
	padding: 0;
	}
 a img
	{
	border: none;
	}
	/* IE6では横幅600px */
 #thanks
	{
	margin: 0 auto;
	padding: 0 10px;
	width: 450px;
	border: 1px solid #000000;
	_text-align: left; /* IE6対策 */
	background: url("./image/thanks.gif");
	}
	/* IE6以外のモダンブラウザでは最大横幅600px */
 body>#thanks
	{
	width: auto;
	max-width: 450px;
	}
	/* 横スクロールバー出現防止 */
 img
,input
,textarea
	{
	max-width: 100%;
	}
 h1
	{
	font-family: Verdana,Tahoma,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin: 0 -10px;
	padding: 5px 10px;
	background: #eeeeee url("./image/bg.gif");
	border-bottom: 1px solid #000000;
	}
 h2
	{
	font-size: 15px;
	font-weight: 700;
	margin: 1.5em 0 0.75em;
	}
	/* ↓IE6対策 */
 ul
,ol
	{
	margin: 2em 2em 2em 3em;
	}
	/* ↓子セレクタを使っているところはIE6以外のモダンブラウザ用 */
 p
,#thanks>ul
,#thanks>ol
,dl
	{
	margin: 2em 0;
	}
 dl dt
	{
	font-weight: 700;
	}
 dl dd
	{
	margin-left: 0;
	}
 #comment-form
	{
	border: none;
	margin: 10px -10px;
	padding: 10px 10px 20px;
	}
		 #comment-form dt
			{
			font-weight: normal;
			width:5em;
			float: left;
			clear:both;
			}
		 #comment-form dd
			{
			margin-left: 6.5em;
			border: none;
			}
 input
,textarea
,select
	{
	font-size: 100%;
	margin: 0.1em;
	padding: 2px 3px;
	color: #000000;
	background: #ffffff;
	border: 1px solid #000000;
	line-height: 1.2;
	}
 input[type="submit"]
	{
	color: #ffffff;
	background: #000000;
	}
 #navigation
	{
	text-align: right;
	margin: 0 -10px;
	padding: 20px 10px;
	}
 #navigation input
	{
	padding: 5px 10px;
	background: #eeeeee url("./image/bg.gif") repeat-x 0 0;
	}
 #copyright
	{
	list-style-type: none;
	text-align: right;
	font-family: Verdana,Tahoma,Helvetica,sans-serif;
	margin: 0 -10px 0 !important;
	padding: 5px 10px;
	background: #eeeeee url("./image/bg.gif");
	border-top: 1px solid #000000;
	}

		 #copyright li
			{
			display: inline;
			margin: 0 0 0 1.5em;
			padding: 0;
			color: #000000;
			font-weight: 700;
			}
		 #copyright a
			{
			text-decoration: none;
			color: #000000;
			}
} /* 削除不可 */