@charset 'utf-8';

/* ----- HTML再定義 ------------------------------------ */

* {
	margin: 0px;
	padding: 0px;

	font-size: 13px;
	font-style: normal;
	font-family: 'ＭＳ Ｐゴシック', 'MS UI Gothic', Osaka, sans-serif;
	text-align: left;
}

body {
	padding: 0px;

	background-color: #FFFFFF;

	text-align: center;
}

h1 {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #666680;

	background-color: #EEEEEE;
	color: #444444;

	font-size: 15px;
	text-decoration: none;
	text-align: center;
}
h2 {
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 3px 0px;
	border-bottom: 1px solid #BBBBBB;
}
p, li, dt, dd, address {
	color: #444444;

	line-height: 1.4;
}
p {
	margin-bottom: 15px;
}
ul {
	margin: 0px 0px 20px 20px;
}
em {
	font-weight: bold;
}
address {
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid #666680;
}
img {
	border: 0px;
}
hr {
	height: 1px;
}

form dl {
	margin-bottom: 15px;
}
form dl dt {
	float: left;
	clear: left;
	width: 5em;
}
form dl dd {
}
form dl dd textarea {
	margin-top: 2px;
}
form ul {
	margin: 0px 0px 20px 0px;
}
form ul li {
	list-style-type: none;
}
form fieldset {
	border: 0px solid #000000;
}
form legend {
	display: none;
}
form input, form select {
	margin-right: 1px;
	padding: 1px;

	font-size: 90%;
}
@media screen {
	form input, form select {
		font-family: Verdana, Arial, sans-serif;
	}
}
form select {
	margin-top: 1px;
}
form p input {
	text-align: center;
}
form textarea {
	padding: 1px;

	font-family: 'ＭＳ ゴシック', Osaka, monospace;
	line-height: 1.2;
}

table {
	margin-bottom: 10px;
	border: 1px solid #666680;
	border-collapse: collapse;
}
table tr th {
	padding: 5px;
	border: 1px solid #AAAAAA;

	background-color: #EEEEEE;

	text-align: center;
	white-space: nowrap;
}
table tr td {
	padding: 5px;
	border: 1px solid #AAAAAA;
}

a:link, a:visited {
	color: #0000CC;

	text-decoration: underline;
}
a:active, a:hover {
	color: #FF7700;

	text-decoration: underline;
}

/* ----- 基本構造 -------------------------------------- */

div#container {
	float: none;
	clear: both;

	margin: 0px auto;
	padding: 30px;
}

/* ----- 個別指定 -------------------------------------- */

table.list tr td {
	vertical-align: top;
}
table.count tr td {
	vertical-align: top;
}
table.message tr td {
	vertical-align: top;
}
